/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */
/* Dropdown Button */
.dropbtn {
  background-color: #cccccc;
  color: black;
  padding: 15px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cccccc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black !important;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown :hover > a {
    color: ##f2f2f2;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #cccccc;
  border-color: #cccccc;
}

.navbar-default .navbar-brand { /*COLOR OF HOME BUTTON OR BLOG & RESUME BUTTONS*/
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {/*color of home button on navbar when selected*/
  color: #000000;
  background-color: #ddd;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a { /*COLOR OF HOME BUTTON OR BLOG & RESUME BUTTONS*/
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { /*color of buttons on navbar when selected*/
  color: #000000;
  background-color: #ddd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}



/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
  vertical-align: middle;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #ff4d4d;
}
.container a:hover {
  color: #ff4d4d;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 24px;
  vertical-align: middle;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  vertical-align: middle;
}
.panel-default h6 {
  font-size: 17px;
  vertical-align: middle;
}
.panel-default h4 a, h5 a {
  color: #ff4d4d;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #ff4d4d;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
  vertical-align: middle;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #000000;
}
div.footer{
  border-bottom: 5px solid #ff4d4d;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

}*/
