---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
---

<Layout>
  <div class="flex items-center flex-col">
    <div class="image-cropper">
      <Image src={headshot} alt="headshot" />
    </div>
    <h1 class="text-4xl p-4">Hi! I'm <strong>Matt</strong></h1>
    <h4 class="text-2xl p-1">
      I'm an engineer at <a
        href="https://www.klaviyo.com"
        class="no-underline text-red-400 hover:text-red-600">Klaviyo</a
      >
    </h4>
    <h4 class="text-2xl p-1">
      In my free time, I like to ski, read fantasy books, cook, and work on <a
        href="https://zensearch.jobs"
        class="no-underline text-red-400 hover:text-red-600">ZenSearch</a
      >
    </h4>
    <div class="flex flex-col flex-grow md:flex-row space-x-2 p-4">
      <div class="border-solid border-2 border-sky-500 p-1 rounded-md">
        <a
          href="https://github.com/mrkaye97"
          class="text-lg hover:text-gray-300"
        >
          <i class="bi bi-github"></i> Github
        </a>
      </div>
      <div class="border-solid border-2 border-sky-500 p-1 rounded-md">
        <a
          href="https://www.strava.com/athletes/16125633"
          class="text-lg hover:text-gray-300"
        >
          <i class="bi bi-strava"></i> Strava
        </a>
      </div>
      <div class="border-solid border-2 border-sky-500 p-1 rounded-md">
        <a href="mailto:mrkaye97@gmail.com" class="text-lg hover:text-gray-300">
          <i class="bi bi-envelope"></i> Email
        </a>
      </div>
      <div class="border-solid border-2 border-sky-500 p-1 rounded-md">
        <a
          href="https://app.thestorygraph.com/profile/mrkaye97"
          class="text-lg hover:text-gray-300"
        >
          <i class="bi bi-book"></i> StoryGraph
        </a>
      </div>
      <div class="border-solid border-2 border-sky-500 p-1 rounded-md">
        <a
          href="https://untappd.com/user/mrkaye97"
          class="text-lg hover:text-gray-300"
        >
          <i class="bi bi-droplet"></i> Untappd
        </a>
      </div>
    </div>
  </div>
</Layout>

<style>
  .image-cropper {
    width: 240px;
    height: 240px;
    margin: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
</style>
